# Entorno virtual de Python
.venv/
env/
venv/
.env
env

# Runtime outputs
cluster_output/
output_rag/
llm_output/
log.out

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Build / packaging
*.egg-info/
dist/
build/

# macOS
.DS_Store

# Linters / caches
.mypy_cache/
.ruff_cache/
**/__pycache__/**

# Temp files
*.tmp
*.swp
*.swo
